<div class="scroll-table" data-fixed-header-scroll>
  <table
    aria-labelledby="<%= table_title %>"
    data-fixed-columns-count="<%= yummy_guide_administrate_collection_table_fixed_columns_count(page: page, collection_presenter: collection_presenter) %>"
    data-fixed-header-source
  >
    <thead>
      <tr>
        <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
          <th
            class="cell-label cell-label--<%= attr_type.html_class %> cell-label--<%= collection_presenter.ordered_html_class(attr_name) %> cell-label--<%= "#{collection_presenter.resource_name}_#{attr_name}" %>"
            scope="col"
            aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>"
          >
            <%= link_to(sanitized_order_params(page, collection_field_name).merge(
                  collection_presenter.order_params_for(attr_name, key: collection_field_name)
                )) do %>
              <%= t(
                    "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
                    default: resource_class.human_attribute_name(attr_name).titleize
                  ) %>
              <% if collection_presenter.ordered_by?(attr_name) %>
                <span class="cell-label__sort-indicator cell-label__sort-indicator--<%= collection_presenter.ordered_html_class(attr_name) %>">
                  <svg aria-hidden="true">
                    <use xlink:href="#icon-up-caret" />
                  </svg>
                </span>
              <% end %>
            <% end %>
          </th>
        <% end %>
        <%= render(
              yummy_guide_administrate_collection_actions_partial("collection_header_actions"),
              collection_presenter: collection_presenter,
              page: page,
              resources: resources,
              table_title: "page-title"
            ) %>
      </tr>
    </thead>

    <tbody>
      <% resources.each do |resource| %>
        <tr class="js-table-row">
          <% collection_presenter.attributes_for(resource).each do |attribute| %>
            <% cell_href = yummy_guide_administrate_collection_attribute_path(attribute: attribute, resource: resource, namespace: namespace) %>
            <% cell = yummy_guide_administrate_build_collection_cell(
                 content: render_field(attribute),
                 present_path: cell_href,
                 reference_link: yummy_guide_administrate_collection_reference_link?(attribute),
                 text_link: yummy_guide_administrate_collection_text_link?(attribute)
               ) %>
            <td class="cell-data cell-data--<%= attribute.html_class %><%= " cell-data--link" if cell[:linkable] %>">
              <%= cell[:content] %>
            </td>
          <% end %>

          <%= render(
                yummy_guide_administrate_collection_actions_partial("collection_item_actions"),
                collection_presenter: collection_presenter,
                collection_field_name: collection_field_name,
                page: page,
                namespace: namespace,
                resource: resource,
                table_title: "page-title"
              ) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
