<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% attachments = field.attachments %>
  <% empty_slots = [field.max_uploads - attachments.size, 0].max %>

  <div class="yg-administrate-picture-slots">
    <% attachments.each do |attachment| %>
      <% preview_url = field.preview_url(attachment, view_context: self) %>
      <div class="yg-administrate-picture-slot">
        <% if preview_url.present? %>
          <div class="yg-administrate-picture-slot__preview">
            <%= image_tag preview_url, class: "yg-administrate-picture-list__image" %>
          </div>
        <% else %>
          <div class="yg-administrate-picture-slot__placeholder"><%= field.attachment_label(attachment) %></div>
        <% end %>

        <% if (attachment_id = field.attachment_identifier(attachment)).present? %>
          <label class="yg-administrate-picture-slot__delete">
            <input type="checkbox" name="<%= field.purge_input_name %>" value="<%= attachment_id %>">
            Delete
          </label>
        <% end %>
      </div>
    <% end %>

    <% empty_slots.times do %>
      <div class="yg-administrate-picture-slot">
        <%= file_field_tag field.input_name, accept: "image/*", class: "yg-administrate-picture-slot__input" %>
      </div>
    <% end %>
  </div>
</div>

