<% current_values = yummy_guide_administrate_filter_current_values(local_assigns[:current_values] || local_assigns[:search_options] || {}) %>
<% form_css_class = local_assigns[:form_css_class] || "yummy-guide-administrate-filter-form" %>
<% form_attributes = { class: form_css_class, data: { yummy_guide_administrate_filter_form: true } } %>
<% form_attributes[:id] = local_assigns[:form_id] if local_assigns[:form_id].present? %>
<% if local_assigns[:form_data].present? %>
  <% form_attributes[:data].merge!(local_assigns[:form_data]) %>
<% end %>

<%= form_with url: path, scope: form, method: method, html: form_attributes do |f| %>
  <% Array(local_assigns[:hidden_fields]).each do |(key, value)| %>
    <%= hidden_field_tag "#{form}[#{key}]", value %>
  <% end %>

  <h2 class="<%= "#{form_css_class}__title" %>"><%= local_assigns[:title] || "Filter Options" %></h2>
  <div class="<%= "#{form_css_class}__body" %>">
    <table class="filter_table">
      <%= yield f, current_values %>
    </table>
  </div>
  <div class="<%= "#{form_css_class}__actions" %>">
    <%= button_tag local_assigns[:clear_label] || "Clear",
                   type: "button",
                   class: "button button--outline-primary js-filter-form-clear",
                   data: { behavior: "filter-form-clear" } %>
    <%= f.submit local_assigns[:submit_label] || "Filter", class: "submit_filter" %>
  </div>
<% end %>

